# Dataset
OakInk/
data_cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env


# IDE
.claude/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Testing
.pytest_cache/
test*

assets/
test_pipeline.py
CLAUDE.md




