# Dataset
OakInk/
data_cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env


# IDE
.claude/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Testing
.pytest_cache/
test*
*.png
logs/
checkpoints/
output/
logs/
checkpoints/
outputs/

assets/
test_pipeline.py
CLAUDE.md
Qwen*
manopth/


